git+git://github.com/halfdanrump/folium.git@master
shapely
osmnx
networkx
descartes
pandas
numpy
geopandas
matplotlib
geopy
tqdm 
sqlalchemy
mysqlclient
tables
seaborn
jupyter
qtconsole
PyQt5
ipython
flake8 
